<div class="modal fade" id="modalwishlist0" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">        
      <div class="modal-body">{{ 'wishlist.none' | t }}</div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>          
    </div>
  </div>
</div> 

<div class="wishlist-model">
  <div class="modal fade" id="modalwishlist1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog white-modal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="cs-icon icon-close"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-note wishlist-note">              
            {{ 'wishlist.successful' | t }} <a href="/pages/wish-list">{{ 'wishlist.title' | t }}</a>
          </div>          
          <div class="modal-body-inner">
            <div class="modal-left wishlist-left">
              <div class="modal-product wishlist-product">
                <div class="product-left">
                  <div class="modal-image wishlist-image"></div>
                </div>
              </div>
            </div>
            <div class="modal-right wishlist-right">
              <div class="wishlist-cart">
                <form action="/cart/add" method="post" class="variants-form variants" id="wishlist-form-cart" enctype="multipart/form-data">                  
                  <div class="form-left">
                    <div class="product-right">
                      <div class="name wishlist-name"></div>
                      <div class="price wishlist-price"></div>
                    </div>
                    <div id="wishlist-variants-container" class="variants-wrapper"></div> 
                    <div class="quantity-content">
                      <label>{{ 'wishlist.qty' | t }}</label>
                      <input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1" />
                    </div>
                  </div>
                  <div class="form-right">
                    <div class="others-bottom">
                      <a class="_btn btn-quick-shop" href="/pages/wish-list">{{ 'wishlist.view_wishlist' | t }}</a>
                      <a id="wishlist-addToCart" class="_btn add-to-cart">{{ 'wishlist.add_to_cart' | t }}</a>
                    </div>
                  </div>
                </form> 
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>