<div id="newsletter-popup" class="modal fade" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="nl-wraper-popup bounceInDown"  style="{% if settings.mailing_bg %}background-image:  url({{ settings.mailing_bg | img_url: '', crop: ''| split:'?v=' | first }});{% else %}background-image:  url({{ '790x115.png' | asset_url| split:'?v=' | first }}); {% endif %}">
    <div class="nl-popup-close"><span onclick="$('#newsletter-popup').modal('hide')"  data-toggle="tooltip" data-placement="top" title="Close"><i class="cs-icon icon-close"></i></span></div>
    <div class="nl-wraper-popup-inner"> 
      <h4 class="title">{{ settings.news_title }}</h4>    
      <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">                
        <p class="caption">{{ settings.news_sub }}  </p>
        <div class="group_input">
          <input class="form-control" type="email" name="EMAIL" placeholder="{{ settings.news_input }}" />
          <button class="_btn" type="submit">{{settings.news_actiontext}}</button>
        </div>       
      </form>
      <div id="popup-hide">
        <input type="checkbox" id="mc-popup-hide" value="0" onclick="checkcookie()" checked="checked"> <label for="mc-popup-hide">{{ settings.news_ignore }}</label>
      </div>      
    </div>
  </div>
</div>