<div id="quick-shop-modal" class="modal quick-shop" role="dialog" aria-hidden="true" tabindex="-1" data-width="800">
  <div class="modal-dialog fadeIn">
    <div class="modal-content">
      <div class="modal-header">
        <i class="close cs-icon icon-close btooltip" data-toggle="tooltip" data-placement="top" title="Close" data-dismiss="modal" aria-hidden="true"></i>
      </div>
      <div class="modal-body">
        <div class="quick-shop-modal-bg"></div>
        <div class="clearfix">
          <div class="col-md-6 product-image">
            <div id="quick-shop-image" class="product-image-wrapper"></div>
          </div>          
          <div class="col-md-6 product-information">
            <div id="quick-shop-container">              
              <h3 id="quick-shop-title" class="title"></h3>
              <div class="quick-shop-rating-star rating-content">
              </div>              
              <div id="quick-shop-price-container" class="product-price"></div>               
              <div class="description">
                <div id="quick-shop-description" class="text-left"></div>
              </div>                             
              <form action="/cart/add" method="post" class="variants" id="quick-shop-product-actions" enctype="multipart/form-data">                                
                <div id="quick-shop-variants-container" class="variants-wrapper"></div>  
                <div class="swatch" id="show_swatch"></div>                                
                <div class="quantity-wrapper clearfix">
                  <div class="wrapper">
                    <input id="quantity" type="text" name="quantity" value="1" maxlength="5" size="5" class="item-quantity" />
                    <div class="qty-btn-vertical">
                      <span class="qty-down cs-icon" title="Decrease" data-src="#quantity">                        
                      </span>
                      <span class="qty-up cs-icon" title="Increase" data-src="#quantity">                        
                      </span>
                    </div>
                  </div>
                </div>  
                <div class="others-bottom">                  
                  <div class="purchase-section clearfix">                    
                    <div class="purchase">
                      <button id="quick-shop-add" onclick="change_qs_quantity('-qs');" class="_btn add-to-cart" type="submit" name="add">
                        <span>
                          {{"products.product.add_to_cart"|t}}
                        </span>                        
                      </button> 
                    </div> 
                  </div>                  
                  <div class="comWish-content clearfix">
                    <a title="Add To Wishlist" class="wishlist">
                      <span class="cs-icon icon-heart"></span>
                    </a>
                  </div>
                </div>
              </form>
              <div class="supports-fontface">
                <span class="social-title">{{'products.product.share_this'|t}}</span>
                <div class="quick-shop-social">
                  {% if settings.share_facebook %}
                  <a target="_blank" href="" class="share-facebook">
                    <span class="fa fa-facebook"></span>
                  </a>
                  {% endif %}
                  {% if settings.share_twitter %}
                  <a target="_blank" href="" class="share-twitter">
                    <span class="fa fa-twitter"></span>
                  </a>
                  {% endif %}
                  {% if settings.share_pinterest %}
                  <a target="_blank" href="" class="share-pinterest">
                    <span class="fa fa-pinterest"></span>
                  </a>
                  {% endif %}
                  {% if settings.share_google %}
                  <a target="_blank" href="" class="share-google">
                    <!-- Cannot get Google+ share count with JS yet -->
                    <span class="fa fa-google-plus"></span>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function show_swatch(selectedProduct){
    var quickswatch = $('#show_swatch');
    quickswatch.html('');
    for (var i=0; i < selectedProduct.options.length; i++) {
      var option_id="quick-shop-variants-"+selectedProduct.id+"-option-"+i;
      add_swatch(quickswatch,selectedProduct.options[i].name,i,option_id);
    }
    jQuery('.swatch_quick :radio').change(function() {
      var optionIndex = jQuery(this).closest('.swatch_quick').attr('data-option-index');
      var optionValue = jQuery(this).val();
      jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
    });  
  }

  function add_swatch(quickswatch,name,i,id_quick){
    var if_color="";
    if(name.toLowerCase()=='color'){ 
      if_color="color";
    }
    quickswatch.append("<div id='show_swatch_detail_"+i+"' class='swatch_quick "+if_color+" clearfix' data-option-index='"+i+"'></div>");    
    var show_swatch_detail=$("#show_swatch_detail_"+i);
    show_swatch_detail.html('');
    show_swatch_detail.append("<div class='header'>"+name+"</div>");
    $("#"+id_quick+" option").each(function(){
      var class_active = "";
      if ( $( this ).is( ":first-child" ) ) {
        class_active = "active";
      }
      show_swatch_detail.append("<div id='element-"+if_color+"-"+$(this).val()+"' data-value='"+$(this).val()+"' class='swatch-element "+if_color+" "+$(this).val()+" available "+class_active+"'></div>");
      var element=$("#element-"+if_color+"-"+$(this).val());
      element.html('');
      element.append("<input id='swatch-quick-"+i+"-"+$(this).val()+"' type='radio' name='option-"+i+"' value='"+$(this).val()+"'/>");
      if(if_color!=""){
        var url_image = '{{ 'image_quickshop' | asset_url | split:'?' | first }}';
        element.append("<label id='label-"+if_color+"-"+$(this).val()+"' for='swatch-quick-"+i+"-"+$(this).val()+"' style='background-color: "+$(this).val()+"; border-color: "+$(this).val()+"; background-image: url("+url_image.replace('image_quickshop', $(this).val().toLowerCase()+'.png')+")'></label>");
        var label=$("#label-"+if_color+"-"+$(this).val());
        label.html('');
        label.append("<img class='crossed-out' src='{{ 'soldout.png' | asset_url }}' alt='' />");
                     }
                     else{
                     element.append("<label id='label-"+$(this).val()+"' for='swatch-quick-"+i+"-"+$(this).val()+"'></label>");
        var label=$("#label-"+$(this).val());
        label.html('');
        label.append($(this).val()+"<img class='crossed-out' src='{{ 'soldout.png' | asset_url }}' alt='' />");  
                     }
                     });
        $(function() {
          $('.swatch-element').hover(
            function() {
              $(this).addClass("hovered");
            }, function() {
              $(this).removeClass("hovered");
            });
          $(".swatch-element").click(function () {
            if(!$(this).hasClass('active'))
            {
              $(this).parent().find(".swatch-element.active").removeClass("active");
              $(this).addClass("active");        
            }
          });
        });
      }   

      jQuery(document).ready(function($) {

        $('#quick-shop-modal').on('hidden.bs.modal', function () {
          $('.zoomContainer').css('z-index', '1');
          $('#top').removeClass('z-idx');
        })

        $('#quick-shop-modal').on( 'shown.bs.modal', function () {
          $('#top').addClass('z-idx');
          $('.modal-dialog').addClass("animated");
        });

        var quickShopModal = $('#quick-shop-modal');
        var quickShopContainer = $('#quick-shop-container');
        var quickShopImage = $('#quick-shop-image');
        var quickShopTitle = $('#quick-shop-title');
        var quickShopDescription = $('#quick-shop-description');
        var quickShopVariantsContainer = $('#quick-shop-variants-container');
        var quickShopPriceContainer = $('#quick-shop-price-container');
        var quickShopAddButton = $('#quick-shop-add');
        var quickShopAddToCartButton = $('#quick-shop-add');
        var quickShopTags = $('#quick-shop-tags');
        var quickShopProductActions = $('#quick-shop-product-actions');
        var quickShopModalBackground = $('#quick-shop-modal .quick-shop-modal-bg');
        var quickShopWishlist = $('#quick-shop-product-actions .wishlist');
        var productReviews = $('.quick-shop-rating-star');
        var quickShopSocial = $('.quick-shop-social');

        $('body').on(clickEv, '.quick_shop:not(.unavailable)', function(event){
          var $this = $(this);
          var urlQuickView = '/products/'+$this.data('handle')+'.js';
          $('#quick-shop-image #featuted-image').html('');
          $.getJSON(urlQuickView, function(product) {
            loadQuickShop(product);
            imagesLoaded( '#quick-shop-modal', function() {       
              updateScrollThumbsQS();       
              $("#gallery_main_qs .qs-vertical-slider").owlCarousel({
                navigation : true,
                pagination: false,
                items: 3,
                slideSpeed : 200,
                paginationSpeed : 800,
                rewindSpeed : 1000,
                itemsDesktop : [1199,3],
                itemsDesktopSmall : [979,2],
                itemsTablet: [768,2],
                itemsTabletSmall: [540,1],
                itemsMobile : [360,1]
              });
              $("#gallery_main_qs").css('display', 'block');
              $(".show-load-quick").css("display", "none");
              var delayLoadingQS = '';       
              delayLoadingQS = setInterval(function(){                     
                quickShopModalBackground.hide();
                $('.zoomContainer').css('z-index', '2000');
                $('#quick-shop-modal .modal-body').resize();           
                clearInterval( delayLoadingQS );            
              }, 500);
            });
          });
        });
        var loadQuickShop = function(selectedProduct){
          var quickShopImage = $('#quick-shop-image');    
          var selectedProductID = selectedProduct.id;

          // Update add button
          quickShopAddButton.data('product-id', selectedProductID);

          // Update rating
          productReviews.html('<span class="shopify-product-reviews-badge" data-id=""></span>');
          productReviews.find('.shopify-product-reviews-badge').attr('data-id', selectedProductID);
          var urls = "\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop={{ shop.url }}";
          $.getScript(urls, function() {
          });

                                     // Update social
                                     quickShopSocial.find('.share-facebook').attr('href','//www.facebook.com/sharer.php?u={{ shop.url }}/products/' + selectedProduct.handle);                         
                                                                                  quickShopSocial.find('.share-twitter').attr('href','//twitter.com/share?text='+ selectedProduct.title +'&amp;url={{ shop.url }}/products/' + selectedProduct.handle);                                                  
                                                                                                                              quickShopSocial.find('.share-pinterest').attr('href','//pinterest.com/pin/create/button/?url={{ shop.url }}/products/' + selectedProduct.handle +'&amp;media=http:'+selectedProduct.featured_image+'&amp;description='+selectedProduct.title);                                                  
          quickShopSocial.find('.share-google').attr('href','//plus.google.com/share?url={{ shop.url }}/products/' + selectedProduct.handle);                                                  

              // Update add Wishlist
              quickShopWishlist.attr('class', 'wishlist wishlist-'+selectedProduct.handle);
              quickShopWishlist.attr('data-wishlisthandle', selectedProduct.handle);
              wishlist_init();

              // Update image
              quickShopImage.empty();
              quickShopImage.html('<div id="featuted-image" class="main-image featured"><img class="img-zoom img-responsive image-fly" src="'+ Shopify.resizeImage(selectedProduct.featured_image, "grande")+'" data-zoom-image="'+ selectedProduct.featured_image +'" alt="" /></div>');
              quickShopImage.append('<div id="gallery_main_qs" class="product-image-thumb gallery-images-layout"><div class="gallery-images-inner"><div class="show-image-load show-load-quick"><div class="show-image-load-inner"><i class="fa fa-spinner fa-pulse fa-2x"></i></div></div><div class="qs-vertical-slider vertical-image-content" style="display:none;"></div></div></div>');
              var qs_images = selectedProduct.images;
              if(qs_images.length > 1){
                $.each(qs_images, function(index, value) {
                  if(index)
                    quickShopImage.find('.qs-vertical-slider').append('<div class="image-vertical image-thumb"><a class="cloud-zoom-gallery" href="'+value+'" alt="" data-image="'+ Shopify.resizeImage(value, 'large') +'" data-zoom-image="'+ Shopify.resizeImage(value, 'original') +'"><img src="'+ Shopify.resizeImage(value, "large") +'" alt="" /></a></div>');
                  else
                    quickShopImage.find('.qs-vertical-slider').append('<div class="image-vertical image-thumb active"><a class="cloud-zoom-gallery" href="'+value+'" alt="" data-image="'+ Shopify.resizeImage(value, 'large') +'" data-zoom-image="'+ Shopify.resizeImage(value, 'original') +'"><img src="'+ Shopify.resizeImage(value, "large") +'" alt="" /></a></div>');
                }); 
              }
              /* Initialize zoom on main product image */
              var mainProductImage = $('#quick-shop-image .featured img');
              if (mainProductImage.size()) {
                if ($(window).width() > 782) {
                var zoomedSrc = $('#quick-shop-image .featured img').attr('src').replace('_master', '');
                $('#quick-shop-image .featured img')
                  .wrap('<span style="display:inline-block; max-width: 100%;"></span>')
                  .css('display', 'block')
                  .parent()
                  .zoom( { url: zoomedSrc } );
                }
              }

              // Update title
              quickShopTitle.html('<a href="/products/' + selectedProduct.handle + '">' + selectedProduct.title + '</a>');

              // Update Rating Review
              //quickShopRating.html('<span class="shopify-product-reviews-badge" data-id="'+ selectedProduct.id +'"></span>');

              // Update description
              quickShopDescription.html(selectedProduct.description.substring(0,200)+"...");

              // Generate variants
              var productVariants = selectedProduct.variants;
              var productVariantsCount = productVariants.length;

              quickShopPriceContainer.html('');
              quickShopVariantsContainer.html('');
              quickShopAddToCartButton.removeAttr('disabled').fadeTo(200,1);

              if (productVariantsCount > 1) {          
                // Reveal variants container
                quickShopVariantsContainer.show();

                // Build variants element
                var quickShopVariantElement = $('<select>',{ 'id': ('quick-shop-variants-' + selectedProductID) , 'name': 'id'});
                var quickShopVariantOptions = '';
                for (var i=0; i < productVariantsCount; i++) {
                  quickShopVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
                };

                // Add variants element to page
                quickShopVariantElement.append(quickShopVariantOptions);
                quickShopVariantsContainer.append(quickShopVariantElement);

                // Bind variants to OptionSelect JS
                new Shopify.OptionSelectors(('quick-shop-variants-' + selectedProductID), { product: selectedProduct, onVariantSelected: selectOptionCallback });

                // Add label if only one product option and it isn't 'Title'.
                if (selectedProduct.options.length == 1 && selectedProduct.options[0] != 'Title' ){
                  $('#quick-shop-product-actions .selector-wrapper:eq(0)').prepend('<label>'+ selectedProduct.options[0] +'</label>');
                }

                // Auto-select first available variant on page load.
                var found_one_in_stock = false;
                for (var i=0; i < selectedProduct.variants.length; i++) {      
                  var variant = selectedProduct.variants[i];
                  if(variant.available && found_one_in_stock == false) {      
                    found_one_in_stock = true;
                    for (var j=0; j < variant.options.length; j++){      
                      //$('.single-option-selector:eq('+ j +')').val(variant.options[j]).trigger('change');  
                    }
                  }
                }

                // swatch
                show_swatch(selectedProduct);
                //////

              } else { // If product only has a single variant    
                // Hide unnecessary variants container
                quickShopVariantsContainer.hide(); 

                // swatch
                $('#show_swatch').html('');

                // Build variants element
                var quickShopVariantElement = $('<select>',{ 'id': ('quick-shop-variants-' + selectedProductID) , 'name': 'id'});
                var quickShopVariantOptions = '';

                for (var i=0; i < productVariantsCount; i++) {
                  quickShopVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
                };

                // Add variants element to page
                quickShopVariantElement.append(quickShopVariantOptions);
                quickShopVariantsContainer.append(quickShopVariantElement);  

                // Add tags
                quickShopTags.html('{{'products.general.tag'|t}}'+ selectedProduct.tags);

                                   // Update the add button to include correct variant id
                                   quickShopAddToCartButton.data('variant-id', productVariants[0].id);

                // Determine if product is on sale
                if ( productVariants[0].compare_at_price > 0 && productVariants[0].compare_at_price > productVariants[0].price ) {
                  quickShopPriceContainer.html('<span class="price_sale">'+ Shopify.formatMoney(productVariants[0].price, "{{shop.money_format}}") +'</span>' + '<del class="price_compare">'+ Shopify.formatMoney(productVariants[0].compare_at_price, "{{shop.money_format}}") + '</del>');
                                                                                                } else {
                                                                                                quickShopPriceContainer.html('<span class="price">'+ Shopify.formatMoney(productVariants[0].price, "{{shop.money_format}}") + '</span>' );
                                                                                                }  
                                                                                                } // END of (productVariantsCount > 1)

                                                                                                {% if settings.show_multiple_currencies %}
                                                                                                // Update currency
                                                                                                currenciesCallbackSpecial('#quick-shop-modal span.money');
                                               {% endif %}
                                               
        }
                  /* selectOptionCallback
    ===================================== */
                  var selectOptionCallback = function(variant, selector) {
                    //change image
                    if (variant && variant.featured_image) {
                      var newImage = variant.featured_image; // New image object.
                      var mainImageDomEl = jQuery('.main-image img')[0]; // DOM element of main image we need to swap.
                      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
                    }

                    // selected a valid and in stock variant
                    //if (variant && (variant.inventory_quantity > 0 || (variant.inventory_quantity <= 0 && variant.inventory_policy == 'continue') || variant.inventory_management == "" ) ) {    
                    //change
                    if (variant && variant.available) {
                      quickShopAddToCartButton.data('variant-id', variant.id);
                      quickShopAddToCartButton.removeAttr('disabled').fadeTo(200,1);        
                      // determine if variant is on sale
                      if ( variant.compare_at_price > 0 && variant.compare_at_price > variant.price ) {
                        quickShopPriceContainer.html('<span class="price_sale">'+ Shopify.formatMoney(variant.price, "{{shop.money_format}}") +'</span>' + '<del class="price_compare">'+ Shopify.formatMoney(variant.compare_at_price, "{{shop.money_format}}") + '</del>');
                                                                                                      } else {
                                                                                                      quickShopPriceContainer.html('<span class="price">'+ Shopify.formatMoney(variant.price, "{{shop.money_format}}") + '</span>' );
                                                                                                      };       
                                                                                                      // selected an invalid or out of stock variant 
                                                                                                      } else {
                                                                                                      // variant doesn't exist
                                                                                                      quickShopAddToCartButton.attr('disabled', 'disabled').fadeTo(200,0.5);
                                                     var message = variant ? "Sold Out" : "Unavailable";    
                                                     quickShopPriceContainer.html('<span class="unavailable">' + message + '</span>');         
                      }
                      //swatch
                      var form = jQuery('.quick-shop form.variants');
                      if(variant!=null){
                        for (var i=0,length=variant.options.length; i<length; i++) {
                          var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                          if (radioButton.size()) {
                            radioButton.get(0).checked = true;
                          }
                        }
                      }

                      {% if settings.show_multiple_currencies %}
                      // Update currency
                      currenciesCallbackSpecial('#quick-shop-modal span.money');
                      {% endif %}
                    }   

                  });


</script>