<section class="heading-content">
  <div class="heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="page-heading-inner heading-group">
          <div class="breadcrumb-group">
            <h1 class="page-title">{{ 'customer.register.title' | t }}</h1>
            <div class="breadcrumb clearfix">
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url">
                  <span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span>
                </a>
              </span>
              <span class="arrow-space"></span>
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/account/register" title="{{ 'customer.register.title' | t }}" itemprop="url">
                  <span itemprop="title">{{ 'customer.register.title' | t }}</span>
                </a>
              </span>
            </div>        
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>

<section class="customers-layout">
  <div class="customers-wrapper">
    <div class="container">
      <div class="row">
        <div class="customers-inner">
          <div class="customers-content">
            <div class="register-layout">
              <div class="register-content">
                <div id="register" class="customers"> 
                  <h2>{{ 'customer.register.title' | t }}</h2>
                  {% form 'create_customer' %}

                  {{ form.errors | default_errors }}
                  <div id="first_name" class="clearfix large_form form-item">
                    <input type="text" value="" placeholder="{{ 'customer.register.first_name' | t }}" name="customer[first_name]" id="first_name" class="text" size="30" />
                  </div>
                  <div id="last_name" class="clearfix large_form form-item">
                    <input type="text" value="" placeholder="{{ 'customer.register.last_name' | t }}" name="customer[last_name]" id="last_name" class="text" size="30" />
                  </div>
                  <div id="email" class="clearfix large_form form-item">
                    <input type="email" value="" placeholder="{{ 'customer.register.email' | t }}" name="customer[email]" id="email" class="text" size="30" />
                  </div>
                  <div id="password" class="clearfix large_form form-password form-item">
                    <input type="password" value="" placeholder="{{ 'customer.register.password' | t }}" name="customer[password]" id="password" class="password text" size="30" />
                    <span class="cs-icon icon-eye"></span>
                  </div>
                  <div class="action_bottom">
                    <input class="_btn" type="submit" value="{{ 'customer.register.submit' | t }}" />                 
                    <span class="note "><span class="or">{{ 'customer.general.or' | t }}</span><a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a></span>
                  </div>
                  {% endform %}

                </div><!-- #register -->
              </div>
            </div>
            <div class="login-layout">
              <div class="login-content">
                <div id="login" class="customers">
                  <h2>{{ 'customer.login.title' | t }}</h2>
                  {% form 'customer_login' %}
                  {{ form.errors | default_errors }}
                  <div class="clearfix large_form form-item">
                    <input type="email" value="" placeholder="{{ 'customer.login.email' | t }}" name="customer[email]" id="customer_email" class="text" />
                  </div>
                  {% if form.password_needed %}
                  <div class="clearfix large_form form-item form-password">
                    <input type="password" value="" placeholder="{{ 'customer.login.password' | t }}" name="customer[password]" id="customer_password" class="text" size="16" />
                    <span class="cs-icon icon-eye"></span>
                  </div>
                  <div class=" note form-item clearfix">
                    <a class="" href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
                  </div>              
                  {% endif %}
                  <div class="action_bottom">
                    <input class="_btn" type="submit" value="{{ 'customer.login.sign_in' | t }}" />
                  </div>
                  {% endform %}
                </div>
                <div id="recover-password" style="display:none;" class="customers">
                  <h2>{{ 'customer.login.reset_password' | t }}</h2>
                  <p class="note">{{ 'customer.login.reset_password_subtext' | t }}</p>

                  {% form 'recover_customer_password' %}
                  {{ form.errors | default_errors }}
                  <div class="clearfix large_form form-item">
                    <input type="email" value="" placeholder="{{ 'customer.login.email' | t }}" size="30" name="email" id="recover-email" class="text" />
                  </div>             
                  <div class="action_bottom clearfix">                                
                    <input class="_btn" type="submit" value="{{ 'customer.login.submit_recover' | t }}" />                 
                  </div>
                  <div class="clearfix note_text_group">
                    {{ 'customer.general.or' | t }}<span class="note_link"><a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.login.cancel' | t }}</a></span>  
                  </div>
                  {% endform %}
                </div>
                {% if shop.checkout.guest_login %}
                <div id="guest" class="customers">
                  <h2>{{ 'customer.login.guest_title' | t }}</h2>
                  {% form 'guest_login' %}
                  <input class="_btn" type="submit" value="{{ 'customer.login.guest_continue' | t }}" />
                  {% endform %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
