<section class="heading-content">
  <div class="heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="page-heading-inner heading-group">
          <div class="breadcrumb-group">
            <h1 class="page-title">{{ 'customer.reset_password.title' | t }}</h1>
            <div class="breadcrumb clearfix">
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
              <span class="arrow-space">></span>
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ page.url }}" title="{{ 'customer.reset_password.title' | t }}" itemprop="url">
                  <span itemprop="title">{{ 'customer.reset_password.title' | t }}</span></a>
              </span>
            </div>      
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="customers-layout reset_password-layout">
  <div class="customers-wrapper reset_password-wrapper">
    <div class="container">
      <div class="row">
        <div class="reset_password-inner">
          <div class="reset_password-content">
            <div id="customer-reset-password">     
              {% form 'reset_customer_password' %}
              {{ form.errors | default_errors }}
              <div class="clearfix large_form form-item form-password">
                <input type="password" value="" placeholder="{{ 'customer.reset_password.password' | t }}" name="customer[password]" id="customer_password" class="text" size="16" />
              	<span class="cs-icon icon-eye"></span>
              </div>
              <div class="clearfix large_form form-item form-password">
                <input type="password" value="" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />
              	<span class="cs-icon icon-eye"></span>
              </div>
              <div class="action_bottom">
                <input class="btn" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
              </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>