<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>
    {{ shop.name }}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ shop.name }}">
  <meta property="og:url" content="{{ shop.url }}">
  {% if settings.logo_use_image %}
  <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
  <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
  {% endif %}

  {{ content_for_header }}

  <!-- CSS ================================================== -->
  {% if settings.heading_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.heading_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}
  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}
  {% if settings.misc_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.misc_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}
  {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' | stylesheet_tag }}  
  {{ 'password.scss.css' | asset_url | stylesheet_tag }}

  <!-- JS ================================================== -->
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

</head>

<body class="oars_1 template-password">
  {{ content_for_layout }}
</body>
</html>
