<div data-section-id="{{ section.id }}" data-section-type="about-section">
  <section class="home-about-layout">
    <div class="container">
      <div class="row">
        <div class="home-about-inner">
          <div class="page-title text-center {% if template == "index" %}not-animated" data-animate="zoomIn" data-delay="100{% endif %}">
            <h2>{{ section.settings.title }}</h2>
            <p class="sub-title">
              {{ section.settings.sub_title }}
            </p>
            {% if section.settings.caption != '' %}
            <p class="caption">
              {{ section.settings.caption }}
            </p>
            {% endif %}
          </div>
          <div class="home-about-content">
            {% if section.blocks.size > 0 %}
              {% if section.blocks.size == 1 %}
                {% assign col = 'col-sm-12' %}
              {% elsif section.blocks.size == 2 %}
                {% assign col = 'col-sm-6' %}
              {% elsif section.blocks.size == 3 %}
                {% assign col = 'col-sm-4' %}
              {% else %}
                {% assign col = 'col-sm-3' %}
              {% endif %}
              {% for block in section.blocks %}
            	<div class="about-item {{ col }} not-animated" data-animate="fadeInUp" data-delay="{{ forloop.index }}00">
                  {% if block.settings.image %}
                  <img src="{{ block.settings.image | img_url: '', crop: 'center' }}" alt="{{ block.settings.image.alt }}" />
                  {% else %}
                  <img src="{{ '155x155.png' | asset_url }}" alt=""/>
                  {% endif %}
                  <h5 class="about-title">{{ block.settings.title }}</h5>
                  <p class="about-caption">
                    {{ block.settings.caption }}
                  </p>
            	</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% schema %}
{
  "name": "About Us",
  "class": "index-section index-section-about",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Title"
    },
	{
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
	{
      "type": "textarea",
      "id": "caption",
      "label": "Caption"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload Banner"
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title"
        },
		{
          "type": "textarea",
          "id": "caption",
          "label": "Caption"
        }
      ]
    }
  ],
  "presets": [{
    "name": "About Us",
    "category": "Store Information"
  }]
}
{% endschema %}