<div class="password-page__wrapper" {% if settings.password_bkg %}style="background-image:url({{ settings.password_bkg | img_url: '', crop: 'center' }})" {% endif %}>
  <div class="container">
    <header class="password-page__header" role="banner">
      <div class="password-page__header__inner">        
        <div class="password-page__logo">
          {% if settings.logo_coming %}
          <img class="logo" src="{{ settings.logo_coming | img_url: '', crop: 'center' }}" alt="{{ shop.name }}" itemprop="logo">
          {% else %}
          <h1 class="h2">
            <span>{{ shop.name }}</span>
          </h1>
          {% endif %}
        </div>
        <p class="password-login text-right small--text-center">
          <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
            <svg xmlns="http://www.w3.org/2000/svg" class="lock-icon-svg" viewBox="0 0 17 20" version="1.1" aria-hidden="true">
              <title>Lock icon</title>
              <path fill="#FFFFFF" d="M15.725,8.3333333 L15.3,8.3333333 L15.3,6.875 C15.3,3.02 12.3131,0 8.5,0 C4.6869,0 1.7,3.02 1.7,6.875 L1.7,8.3333333 L1.275,8.3333333 C0.5712,8.3333333 0,8.8933333 0,9.5833333 L0,18.75 C0,19.44 0.5712,20 1.275,20 L15.725,20 C16.4288,20 17,19.44 17,18.75 L17,9.5833333 C17,8.8933333 16.4288,8.3333333 15.725,8.3333333 L15.725,8.3333333 L15.725,8.3333333 Z M4.25,6.875 C4.25,4.3808333 6.07665,2.5 8.5,2.5 C10.92335,2.5 12.75,4.3808333 12.75,6.875 L12.75,8.3333333 L4.25,8.3333333 L4.25,6.875 L4.25,6.875 Z M10.2,15.0166667 C10.2,15.9275 9.44605,16.6666667 8.517,16.6666667 L8.483,16.6666667 C7.55395,16.6666667 6.8,15.9275 6.8,15.0166667 L6.8,13.3166667 C6.8,12.4058333 7.55395,11.6666667 8.483,11.6666667 L8.517,11.6666667 C9.44605,11.6666667 10.2,12.4058333 10.2,13.3166667 L10.2,15.0166667 L10.2,15.0166667 Z"/>
            </svg>
            {{ settings.password_link }}
          </a>
        </p>
      </div>
    </header>
    <div class="password-page__main" role="main">
      <div class="password-page__main__inner">
        <h2 class="password-page__hero">{{ settings.password_opening_soon }}</h2>
        {% unless shop.password_message == blank %}
        <div class="password-page__message">
          {{ shop.password_message }}
        </div>
        <hr class="hr">
        {% endunless %}
        <div class="password-page_content">
          {% if settings.password_opening_datetime != '' %}
          <div class="password-datetime">
            <div class="date-days">              
            </div>
            <div class="date-hours">

            </div>
            <div class="date-minutes">

            </div>
            <div class="date-seconds">

            </div>
            <script>
              $(document).ready(function(){
                var date1=new Date('{{settings.password_opening_datetime}}');
                                   var date2=new Date('{{ 'now' | date: "%m/%d/%Y %T" }}');
                                   function addZ(n) {
                  return (n<10? '0':'') + n;
                }
                function convert_hrs(hrs){
                  return (hrs<24? hrs:(hrs-24));
                }

                function showdate(days,hours,minutes,seconds){
                  $('.date-days').html('<p>' + days + '</p>' + '<span class="text">Days</span>');
                  $('.date-hours').html('<p>' + hours + '</p>' + '<span class="text">Hours</span>');
                  $('.date-minutes').html('<p>' + minutes + '</p>' + '<span class="text">Minutes</span>');
                  $('.date-seconds').html('<p>' + seconds + '</p>' + '<span class="text">Seconds</span>');
                }
                var milli1=date1-date2;
                var interval = setInterval(function() {
                  var milli=milli1;
                  if(milli1<0){
                    showdate('00','00','00','00');
                    clearInterval(interval);
                    return false;
                  }
                  var ms = milli % 1000;
                  milli = (milli - ms) / 1000;
                  var days = Math.floor(milli / 86400);
                  milli -= days * 86400;

                  var hours = Math.floor(milli / 3600) % 24;
                  milli -= hours * 3600;

                  var minutes = Math.floor(milli / 60) % 60;
                  milli -= minutes * 60;

                  var seconds = milli % 60;

                  showdate(days,hours,minutes,seconds);

                  if (days == 0 && hours == 0 && minutes == 0 && seconds == 0)
                    clearInterval(interval);
                  milli1=milli1-1000;

                }, 1000);
              });
            </script>
          </div>
          {% endif %}
        </div>
        <div class="password-page_copyright">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}. {{ 'layout.footer.reserved' | t }}</div>  
      </div>
    </div>
  </div>  
</div>

<div id="LoginModal" class="password-page__login-form text-center mfp-hide">
  <p class="h4">{{ settings.password_login_form_heading }}</p>
  {% form 'storefront_password' %}
  {{ form.errors | default_errors }}
  <label for="password" class="hidden-label">{{ settings.password_login_form_password_label }}</label>
  <div class="input-group">
    <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ settings.password_login_form_password_placeholder }}" autofocus>
    <span class="input-group-btn">
      <input type="submit" class="btn password-page__login-form__submit" value="{{ settings.password_login_form_submit }}">
    </span>    
  </div>
  {% endform %}
  <p class="admin-login">{{ settings.password_admin_link_html }}</p>
</div>

{{ 'magnific-popup.min.js' | asset_url | script_tag }}
{{ 'social-buttons.js' | asset_url | script_tag }}

<script>
  $(function() {
    $('.js-toggle-login-modal').magnificPopup({
      type: 'inline',
      mainClass: 'mfp-fade',
      closeOnBgClick: false,
      closeBtnInside: false,
      closeOnContentClick: false,
      tClose: {{ settings.password_close | json }},
      removalDelay: 500,
      callbacks: {
      open: function() {
      window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
  }
    }
    });
  if ( $('.storefront-password-form .errors').size() ) {
    $('.js-toggle-login-modal').click();
  }
  });
</script>