{% if settings.tfcode == '' %}
<div class="top-header">
  <div class="container" style="background:floralwhite; text-align:center; color: #000; font-size:11px; padding:5px 0; font-weight:400; letter-spacing:0; font-style:italic;box-shadow: 0 2px 5px rgba(0,0,0,0.2);border-bottom: 1px solid #999;text-transform: none;">      
    Notice: Please enter your <strong>Item Purchase Code</strong> in <strong>Theme Customizer</strong> > <strong>Theme Settings</strong> tab > <strong>Item Purchase Code</strong> to activate your theme license and remove this notice.<img src="https://www.emthemes.com/media/shopify-logo-oars.png" alt="" />
  </div>
</div>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <section class="main-header not-animated" data-animate="zoomIn" data-delay="100">
    <div class="main-header-wrapper">
      <div class="container clearfix">
        <div class="row">
          <div class="main-header-inner">            
            <div class="nav-logo">
              {% if section.settings.logo %}
              <a href="/"><img src="{{ section.settings.logo | img_url: "", crop: '' | split:'?v=' | first }}" alt="{{ section.settings.logo.alt }}" title="{{ shop.name }}" /></a>
              {% else %}
              <a href="/"><img src="{{ '191x56.png' | asset_url | split:'?v=' | first }}" alt="{{ section.settings[logo].alt }}"/></a>
              {% endif %}
              {% if template == 'index' %}
              <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
              {% else %}
              <div style="display:none"><a href="/">{{ shop.name }}</a></div>
              {% endif %}
            </div>
            <div class="nav-menu">
              <ul class="navigation-links ">
                {% capture menu_label_1 %},{{ settings.menu_label_1 | split: ' ' }},{% endcapture %}
                {% capture menu_label_2 %},{{ settings.menu_label_2 | split: ' ' }},{% endcapture %}
                {% for l in linklists[settings.nav_linklist].links %}
                {% include 'header-navigation' %}
                {% endfor %}
              </ul> 
            </div>                       
            <div class="nav-icon">
              {% if settings.display_search %}
              <div class="m_search search-icon">
                <a href="" data-toggle="modal" data-target="#lightbox-search">
                  <i class="cs-icon icon-search"></i>
                </a>
              </div>
              {% endif %} 
              <div class="icon_cart icon_info">
                <div class="m_cart-group">
                  <a href="javascript:void(0)" class="cart show-info" data-class="info-header-cart"> 
                    <div class="num-items-in-cart">
                      <i class="cs-icon icon-shopping-cart"></i>
                      <span class="cart_text"> 
                        <span class="number">{{ cart.item_count }}</span>                      
                      </span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="icon_info">                    
                <a href="javascript:void(0)" class="show-info" data-class="info-header-sidebar">
                  <i class="cs-icon icon-navicon"></i>
                </a>
              </div>
            </div>                        
          </div>
          <div class="navMobile-navigation">     
            <div class="nav-icon">
              <div class="nav-icon-left">
                <div class="group_navbtn_small group_navbtn_action">              
                  <a href="javascript:void(0)" class="dropdown-toggle-navigation">                  
                    <span class="cs-icon icon-navicon"></span>
                    <i class="sub-dropdown1"></i>
                    <i class="sub-dropdown"></i> 
                  </a>
                  <div class="navigation_dropdown_scroll dropdown-menu">
                    <div class="navigation_dropdown_scroll_close"></div>
                    <div class="navigation_dropdown_group">
                      <div class="navigation_links_top">
                        <div class="dropdownMobile-logo">
                          {% if section.settings.logo %}
                          <a href="/"><img class="header-logo-image" src="{{ section.settings.logo | img_url: "", crop: 'center' | split:'?v=' | first }}" alt="{{ section.settings.logo.alt }}" title="{{ shop.name }}" /></a>
                          {% else %}
                          <div><a href="/">{{ shop.name }}</a></div>
                          {% endif %}
                        </div>
                        <a href="javascript:void(0)" class="close-navigation-dropdown"><span class="cs-icon icon-close"></span></a>
                      </div>
                      <div class="navigation_dropdown_scroll_group">                    
                        <ul class="navigation_links_mobile">
                          {% assign nav_lv = 0 %}
                          {% capture menu_label_1 %},{{ settings.menu_label_1 | split: ' ' }},{% endcapture %}
                          {% capture menu_label_2 %},{{ settings.menu_label_2 | split: ' ' }},{% endcapture %}
                          {% for l in linklists[settings.nav_linklist].links %}
                          {% include 'header-navigation-mobile' %}
                          {% endfor %}
                        </ul> 
                      </div> 
                    </div>                                  
                  </div>
                </div> 
                {% if settings.display_search %}
                <div class="m_search search-tablet-icon">
                  <span class="dropdownMobile-toggle search-dropdown">
                    <span class="icon-dropdown cs-icon icon-search" data-class="cs-icon icon-search"></span>
                    <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                    <i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
                  </span>                    
                  <div class="m_dropdown-search dropdown-menu search-content">
                    <form class="search" action="/search">
                      <input type="hidden" name="type" value="product" />                        
                      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms }}"  />
                      <button class="search-submit" type="submit">
                        <span class="cs-icon icon-search"></span>
                      </button>
                    </form>
                  </div>
                </div>
                {% endif %} 
              </div>
              <div class="navMobile-logo-small">
                {% if section.settings.logo %}
                <a href="/"><img class="header-logo-image" src="{{ section.settings.logo | img_url: "", crop: 'center' | split:'?v=' | first }}" alt="{{ section.settings.logo.alt }}" title="{{ shop.name }}" /></a>
                {% else %}
                <div><a href="/">{{ shop.name }}</a></div>
                {% endif %}
              </div> 
              <div class="nav-icon-right">
                <div class="icon_cart icon_info">
                  <div class="m_cart-group">
                    <a href="javascript:void(0)" class="cart show-info" data-class="info-header-cart"> 
                      <div class="num-items-in-cart">
                        <i class="cs-icon icon-shopping-cart"></i>
                        <span class="cart_text"> 
                          <span class="number">{{ cart.item_count }}</span>                      
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="icon_info">                    
                  <a href="javascript:void(0)" class="show-info" data-class="info-header-sidebar">
                    <i class="cs-icon icon-more"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="info-header">
    <div class="info-header-close"></div>    
    <div class="info-header-wrapper">            
      <div class="info-header-groupclose">
        <a href="javascript:void(0)" class="close-info"><span class="cs-icon icon-close"></span></a>
      </div>
      <div class="info-header-content">
        <div class="info-header-content-inner">
          <div class="info-header-item info-header-sidebar">
            {% if shop.customer_accounts_enabled %}
            {% if customer  %}
            <ul class="account-content">
              <li class="link-item"><a href="/account">{{ 'layout.customer.your_account' | t }}</a></li>
              <li class="link-item"><a href="/account">{{ 'layout.customer.order' | t }}</a></li>
              <li class="link-item"><a href="/pages/wish-list">{{ 'layout.customer.wishlist' | t }}</a></li>
              <li class="link-item"><a href="/pages/contact">{{ 'layout.customer.support' | t }}</a></li>
              <li class="link-item"><a href="/account/logout">{{ 'layout.customer.logout' | t }}</a></li>
            </ul>
            {% else %}
            <div class="login-register-content">
              <ul class="nav nav-tabs">
                <li class="account-item-title active">
                  <a href="#account-login" data-toggle="tab">
                    {{ 'layout.customer.login' | t }}
                  </a>
                </li>
                <li class="account-item-title">
                  <a href="#account-register" data-toggle="tab">
                    {{ 'layout.customer.create_account' | t }}
                  </a>
                </li>
              </ul>
              <div class="tab-content group_form">
                <div class="tab-pane active account-item-content" id="account-login">
                  {% form 'customer_login' %}
                  <div class="clearfix large_form form-item">
                    <input type="email" value="" name="customer[email]" class="form-control" placeholder="{{ 'customer.login.email' | t }} *" />
                  </div>
                  <div class="clearfix large_form form-password form-item">
                    <input type="password" value="" name="customer[password]" class="form-control password" placeholder="{{ 'customer.login.password' | t }} *" />
                    <span class="cs-icon icon-eye"></span>
                  </div>
                  <div class="action_bottom">
                    <a href="/account/login#recover"><span class="red"></span> {{'customer.login.forgot_password'|t}}</a>
                    <button class="_btn" type="submit">{{'customer.login.submit_recover'|t}}</button>
                  </div>
                  {% endform %}                 
                </div>
                <div class="tab-pane account-item-content " id="account-register">
                  {% form 'create_customer' %}
                  {{ form.errors | default_errors }}
                  <div class="clearfix large_form form-item">
                    <input placeholder="{{ 'customer.register.first_name' | t }}" type="text" value="" name="customer[first_name]" id="first_name" class="form-control text" size="30" />
                  </div>

                  <div class="clearfix large_form form-item">
                    <input placeholder="{{ 'customer.register.last_name' | t }}" type="text" value="" name="customer[last_name]" id="last_name" class="form-control text" size="30" />
                  </div>

                  <div class="clearfix large_form form-item">
                    <input placeholder="{{ 'customer.register.email' | t }}" type="email" value="" name="customer[email]" id="email" class="text form-control" size="30" />
                  </div>

                  <div class="clearfix large_form form-password form-item">
                    <input placeholder="{{ 'customer.register.password' | t }}" type="password" value="" name="customer[password]" id="password" class="password text form-control" size="30" />
                    <span class="cs-icon icon-eye"></span>
                  </div>

                  <div class="action_bottom">
                    <button class="_btn" type="submit">{{'customer.register.submit'|t}}</button>
                  </div>
                  {% endform %}               
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
            {% if settings.show_multiple_currencies %}
            <div class="currencies-switcher">
              <span class="currencies-title">
                {{ 'layout.header.currency' | t }}
              </span>
              <ul class="currencies currencies-content">
                {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
                {% assign supported_codes = settings.supported_currencies | split: ' ' %}
                <li class="currency-{{shop.currency}} active">
                  <a href="javascript:;">{{ shop.currency }}</a>
                  <input type="hidden" value="{{ shop.currency }}" />
                </li>
                {% for code in supported_codes %}
                {% if code != shop.currency and codes contains code %}
                <li class="currency-{{code}}">
                  <a href="javascript:;">{{ code }}</a>
                  <input type="hidden" value="{{ code }}" />
                </li>
                {% endif %}
                {% endfor %}
              </ul>            
              <select class="currencies_src hide" name="currencies">
                {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
                {% assign supported_codes = settings.supported_currencies | split: ' ' %}
                <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
                {% for code in supported_codes %}
                {% if code != shop.currency and codes contains code %}
                <option value="{{ code }}">{{ code }}</option>
                {% endif %}
                {% endfor %}
              </select>   
            </div>
            {% endif %}          
            {% if section.settings.social_enable %}
            <div class="info-social">
              <h5 class="social-title">{{ section.settings.social_title }}</h5>
              <p class="social-caption">{{ section.settings.social_caption }}</p>
              <div class="social-content">
                {% if section.settings.social_facebook_link != blank %}<a href="{{ section.settings.social_facebook_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Facebook' }}" class="icon-social facebook"><i class="cs-icon icon-social-facebook"></i></a>{% endif %}
                {% if section.settings.social_twitter_link != blank %}<a href="{{ section.settings.social_twitter_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Twitter' }}" class="icon-social twitter"><i class="cs-icon icon-social-twitter"></i></a>{% endif %}            
                {% if section.settings.social_google_plus_link != blank %}<a href="{{ section.settings.social_google_plus_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Google+' }}" class="icon-social google-plus"><i class="cs-icon icon-social-googleplus"></i></a>{% endif %}                        
                {% if section.settings.social_pinterest_link != blank %}<a href="{{ section.settings.social_pinterest_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Pinterest' }}" class="icon-social pinterest"><i class="cs-icon icon-social-pinterest"></i></a>{% endif %}
                {% if section.settings.social_instagram_link != blank %}<a href="{{ section.settings.social_instagram_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Instagram' }}" class="icon-social instagram"><i class="cs-icon icon-social-instagram"></i></a>{% endif %}                                    
                {% if section.settings.social_youtube_link != blank %}<a href="{{ section.settings.social_youtube_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Youtube' }}" class="icon-social youtube"><i class="cs-icon icon-social-youtube"></i></a>{% endif %}	
                {% if section.settings.social_wordpress_link != blank %}<a href="{{ section.settings.social_wordpress_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Wordpress' }}" class="icon-social wordpress"><i class="cs-icon icon-social-wordpress"></i></a>{% endif %}
                {% if section.settings.social_vimeo_link != blank %}<a href="{{ section.settings.social_vimeo_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Vimeo' }}" class="icon-social vimeo"><i class="cs-icon icon-social-vimeo"></i></a>{% endif %}	
                {% if section.settings.social_tumblr_link != blank %}<a href="{{ section.settings.social_tumblr_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Tumblr' }}" class="icon-social tumblr"><i class="cs-icon icon-social-tumblr"></i></a>{% endif %}
              </div>
            </div>
            {% endif %}         
          </div>
          <div class="info-header-item info-header-cart" style="overflow-y: scroll;">
            <div class="cart-title">
              <span>{{ 'cart.general.title' | t }}</span>
            </div>
            <div class="cart-info">       
              <div class="cart-content">
                <div class="loading">
                  <img src="{{'loader.gif' | asset_url}}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

{% if settings.nav_sticky %}
<script type="text/javascript">
  function addaffix(scr){
    if($(window).innerWidth() >= 992 ){
      if(scr > 90){
        if(!$('#top').hasClass('affix')){
          $('#top').addClass('affix').addClass('fadeInDown animated');
        }
      }
      else{
        if($('#top').hasClass('affix')){
          $('#top').removeClass('affix').removeClass('fadeInDown animated');
        }
      }
    }
    else {
      if(scr > 50){
        if(!$('#top').hasClass('affix')){
          $('#top').addClass('affix').addClass('fadeInDown animated');
        }
      }
      else{
        if($('#top').hasClass('affix')){
          $('#top').removeClass('affix').removeClass('fadeInDown animated');
        }
      }
    }
  }
  $(window).scroll(function() {
    var scrollTop = $(this).scrollTop();
    addaffix(scrollTop);
  });
  $( window ).resize(function() {
    var scrollTop = $(this).scrollTop();
    addaffix(scrollTop);
  });
</script>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo Shop"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "header",
      "content": "Social"
    },
    {
      "type": "checkbox",
      "id": "social_enable",
      "label": "Set active this block"
    },
    {
      "type": "text",
      "id": "social_title",
      "label": "Title"
    },
	{
      "type": "textarea",
      "id": "social_caption",
      "label": "Caption"
    },
    {
      "type": "text",
      "id": "social_twitter_link",
      "label": "Twitter",
      "info": "https:\/\/twitter.com\/shopify"
    },
    {
      "type": "text",
      "id": "social_facebook_link",
      "label": "Facebook",
      "info": "https:\/\/www.facebook.com\/shopify"
    },
    {
      "type": "text",
      "id": "social_pinterest_link",
      "label": "Pinterest",
      "info": "https:\/\/www.pinterest.com\/shopify"
    },
    {
      "type": "text",
      "id": "social_google_plus_link",
      "label": "Google+",
      "info": "https:\/\/plus.google.com\/+shopify"
    },
    {
      "type": "text",
      "id": "social_instagram_link",
      "label": "Instagram",
      "info": "https:\/\/instagram.com\/shopify"
    },
    {
      "type": "text",
      "id": "social_tumblr_link",
      "label": "Tumblr",
      "info": "http:\/\/shopify.tumblr.com"
    },
    {
      "type": "text",
      "id": "social_youtube_link",
      "label": "YouTube",
      "info": "https:\/\/www.youtube.com\/user\/shopify"
    },
    {
      "type": "text",
      "id": "social_wordpress_link",
      "label": "Wordpress",
      "info": "http:\/\/wordpress.org\/"
    },
    {
      "type": "text",
      "id": "social_vimeo_link",
      "label": "Vimeo",
      "info": "https:\/\/vimeo.com\/shopify"
    }
  ]
}
{% endschema %}