<section class="heading-content blog-heading">
  <div class="heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="page-heading-inner heading-group">
          <div class="breadcrumb-group">
            <h1 class="page-title">{{ blog.title }}</h1>
            <div class="breadcrumb clearfix">
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
              <span class="arrow-space"></span>
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="url">
                  <span itemprop="title">{{ blog.title }}</span>
                </a>
              </span>
            </div>         
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog-layout">
  <div class="container">
    <div class="row">
      {% section 'blog-default-template' %}
    </div>
  </div>
</section>
