<!-- {% section 'index-slideshow' %} -->
<script>document.body.style.backgroundColor = '#d0e2c5';</script>
<section
  class="heading-content heading-page"
  style="
    background-image: url('https://cdn.shopify.com/s/files/1/0534/6938/0788/files/large-banners.png?v=1629965660');
    padding-top: 60px; padding-bottom: 120px;
    background-color: transparent;
    background-position: bottom;
  "
> 
  <div class="container">
    <div class="row">
      <div class="page-heading-inner heading-group">
        <div class="breadcrumb-group">
          <h1 class="page-title">{{ page.title }}</h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space"></span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{ page.url }}" title="{{ page.title }}" itemprop="url"><span itemprop="title">{{ page.title }}</span></a>
            </span>              
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
<!-- {% section 'index-slideshow' %} -->

<section class="page-content">
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="page-inner">
          <div id="page">
            <div class="details col-sm-12">              
              {{ page.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
      background:#d0e2c5; clear:left; font:14px "Gilda Display",Helvetica,Arial,sans-serif; color: #54717B;
      background-image: url('https://cdn.shopify.com/s/files/1/0534/6938/0788/files/Shopbanner-v4.jpg?v=1617714122');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      padding-bottom: 100px;
    }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  #mc_embed_signup_scroll {
    width: 80%;
    margin-left: 10%;
  }
  #mc-embedded-subscribe {
  	background-color: #7A107F !important;
    color: white !important;
  }
  @media and (max-width: 480px) {
    #mc_embed_signup_scroll {
    	width: 100%;
    	margin-left: 0px;
    }
  }
  footer.footer { margin-top: 0px; }
</style>
<div id="mc_embed_signup">
<form action="https://sloemotiondistillery.us4.list-manage.com/subscribe/post?u=c6fe97a22e424fda67cf3c707&amp;id=e2890a3e35" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c6fe97a22e424fda67cf3c707_e2890a3e35" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->