<section class="heading-content heading-page">  
  <div class="container">
    <div class="row">
      <div class="page-heading-inner heading-group">
        <div class="breadcrumb-group">
          <h1 class="page-title">{{ page.title }}</h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space"></span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{ page.url }}" title="{{ page.title }}" itemprop="url"><span itemprop="title">{{ page.title }}</span></a>
            </span>              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container wishlist-page shop_area">
  <div class="row">
    <div id="wishlistcontent">
      <span class="none" style="display:none;">{{ 'wishlist.none' |t }}</span>
      <span class="wishlist-count"></span>
      <ul>
        <li class="wishlist-heading">
          <div class="wishlist-image">
            {{ 'wishlist.image' | t }}
          </div>
          <div class="wishlist-name">
            {{ 'wishlist.name' | t }}
          </div>
          <div class="wishlist-price">
            {{ 'wishlist.price' | t }}
          </div>
          <div class="wishlist-addCart">
            {{ 'wishlist.add_to_cart' | t }}
          </div>
          <div class="wishlist-remove">
            {{ 'wishlist.remove' | t }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>