<section class="heading-content heading-page"> 
  <div class="container">
    <div class="row">
      <div class="page-heading-inner heading-group">
        <div class="breadcrumb-group">
          <h1 class="page-title">{{ page.title }}</h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space"></span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{ page.url }}" title="{{ page.title }}" itemprop="url"><span itemprop="title">{{ page.title }}</span></a>
            </span>              
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

<section class="page-content">
  <div class="page-wrapper">
    <div class="page-inner">
      {% section 'gallery-template' %}
    </div>
  </div>
</section>

